:root {
    --primario: #072a66;  /* Es el color pricipal o dominante en el diseño */
    --secundario: #333333;  /* Es el color subordinado en el diseño */
    --acento: #1dbc5f;  /* Es el color complementario usado para resaltar */
    --blanco: #ffffff;  /* Color de texto para el color de fondo suborninado */
    --negro: #000000;  /* Define el tono de negro a usar */
    --gris: #999999;  /* Define el tono de gris a usar */
    --gris-claro: #e2e2e2;
    --azul-fuerte: #000080;    
}


.bg-primario {
    background-color: var(--primario);
}
.bg-secundario {
    background-color: var(--secundario);
}
.bg-acento {
    background-color: var(--acento);
}
.bg-gris {
    background-color: var(--gris);
}
.bg-gris-claro {
    background-color: var(--gris-claro);
}
.bg-azul-fuerte {
    background-color: var(--azul-fuerte);
}
.txt-blanco {
    color: var(--blanco);
}
.txt-negro {
    color: var(--negro);
}
.txt-primario {
    color: var(--primario);
}
.txt-secundario {
    color: var(--secundario);
}
.txt-acento {
    color: var(--acento);
}
.txt-gris {
    color: var(--gris);
}
.txt-gris-claro {
    color: var(--gris-claro);
}
.txt-azul-fuerte {
    color: var(--azul-fuerte);
}

/* Estilos auxiriares */
.altura-200 {
    height: 200px;
}

/* Estilos que modifican o sobre escriben estilos de Bootstrap */

/* Para ajustar la altura de línea en los párrafos de los banners */
.card-img-overlay p {
    line-height: 1.2;
}
